header {
    margin: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

body {
    text-align: center;
}

title {
      font-size: 50pt;
}
table {
      font-size: 20pt;
      border-top: 10pt;
      border-left: 10pt;
      border-collapse: collapse;
      border-color: black;
      text-align: center;
    }

    
tr.sudoku_table-row {
        border-bottom: 5pt;
        border-color: black;
        border-right: 5pt;
        }
        .separator {
          border-bottom: 10pt;
          border-right: 10pt;
          border-color: black;
        }

      .cell {
        width:10pt;
        height: 10pt;
        border-right: 5pt;
        border-color: black;

      }